<div class="message-list">
  <div class="upper-content">
    <div class="created-name">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name%>
    </div>
    <div class="created-at">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at%>
    </div>
  </div>
  <div class="bottom-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content%>
      <%= image_tag message.image.variant(resize: '500x500'), class: 'image-form' if message.image.attached? %>
  </div>
</div>