<div class="side-bar-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
    <%# <a href="#">Taro</a> %>

  </div>
  <div class="make-room">
    <a href="#" >チャットを作成する</a>
  </div>
</div>

<div class="side-bar-body">
  <div class="room-name">
    <a href="#">本音の部屋</a>
  </div>
  <div class="room-name">
    <a href="#">内緒の部屋</a>
  </div>
</div>